.wireframe{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    z-index: 1;
    padding-top: 10%;
}

.wireframe  .styleGuide{
    width: 70%;
    justify-content: center;
    align-content: center;
    text-align: justify;
    color: rgb(221, 221, 221);
    padding: 10px;
    z-index: 1;
    font-size: 20px;
}


.wireframe h2{
    font-size: 40px;
    font-weight: 100;
    color: rgb(218, 218, 218);
    padding-top: 3500px;
}

.wireframe h3{
    font-size: 30px;
    font-weight: 100;
    color: rgb(218, 218, 218);
    font-family: 'Indie Flower', cursive;
}

.wireframe .styleGuide h3{
    font-weight: 100;
    font-size: 30px;
    color: rgb(218, 218, 218);
    text-align: center;
    font-family: 'Indie Flower', cursive;
}



h4{
    font-size: 20px;
    font-weight: 100;
    color: rgb(218, 218, 218);
    font-family: 'Indie Flower', cursive;
}

.styleGuide p{
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}

.wireframeItem{
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.192);
    backdrop-filter: blur(8px);
    z-index: 9999999999999;
}

.wireframeItem div{
    width: 100%;
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

@media only screen and (max-width: 800px){
   .intro{
       font-size: 15px;
       width: 70%;
   }
}

@media only screen and (max-width: 600px){
    .intro{
        font-size: 15px;
    }

    .wireframe .styleGuide p{
        font-size: 17px;
    }
}